main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

#guess {
  width: 5em;
}

#reset {
  margin: 20px;
}


.error-style {
  color: red;
  align-content: center;
}


#error-message {
  text-align: center;
}